.col-1{display:inline-block;width:40%;}
.col-1 h3{margin:0 0 10px;padding:0;font-size:22px;}
.col-2{display:inline-block;width:50%;vertical-align:top;text-align:right;}
.temperature{font-size:22px;cursor:pointer;}
.weather-element{box-shadow:1px 1px 6px #ccc;padding:10px;margin:10px 0;}
.tooltip{position:absolute;padding:3px;font-size:12px;background-color:#eee;border-radius:3px;border:1px solid #ccc;text-align:left;}